@font-face {
    font-family: cairoRegular;
    src: url(../../fonts/Cairo-Regular.ttf);
}

body {
    font-family: cairoRegular;
    direction: ltr;
}
.logo img{
    max-width: 60%;
    padding: 20px 0;
}
.btn-login{
    padding: 14px 17px;
}
.login-container .page-container .login-form {
    width: 450px;
}