@font-face {
    font-family: cairoRegular;
    src: url(../fonts/Cairo-Regular.ttf);
}

@font-face {
    font-family: Cairo-SemiBold;
    src: url(../fonts/Cairo-SemiBold.ttf);
}

body {
    direction: ltr;
    text-align: left;
    font-family: cairoRegular;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Cairo-SemiBold;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

header {
    padding: 9px 0;
    border-bottom: 3px solid #198de0;
    margin-bottom: 5px;
}

header .username {
    margin-top: 17px;
}

.tab-header {
    padding: 15px 5px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    margin-right: 10px;
}

.tab-header i {
    font-size: 25px;
    display: block;
    padding: 3px 0;
}

.tab-header span {
    display: block;
    font-family: Cairo-SemiBold;
}

.bg-blue {
    background-color: #29B6F6;
    border-color: #29B6F6;
}
.color-blue{
    color: #29B6F6;
}
.bg-yellow {
    background-color: #F7CA18;
    border-color: #F7CA18;
}
.bg-orange {
    background-color: #F89406;
    border-color: #F89406;
}

.bg-black {
    background-color: #000;
    border-color: #000;
}

.bg-pink {
    background-color: #EC407A;
    border-color: #EC407A;
}

.bg-green {
    background-color: #26de81;
    border-color: #26de81;
}

.bg-bronze {
    background-color: #fa8231;
    border-color: #fa8231;
}

.bg-red {
    background-color: #ff3838;
    border-color: #ff3838;
}

.bg-slate-blue {
    background-color: #7d5fff;
    border-color: #7d5fff;
}

a {
    color: #000;
}

/*.list-heade{*/

/*}*/
/*.list-header li{*/
/*display: inline-block;*/
/*margin-left: 15px;*/
/*}*/
nav.sale .nav-tabs .nav-link, nav.sale .nav-tabs {
    border: 0;
    border-radius: 0;
}

nav.sale .nav-link {
    background-color: #29B6F6;
    border-color: #29B6F6;
    color: #FFF;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: Cairo-SemiBold;
    font-size: 18px;
padding: 25px 0;
    width: 200px;
}

nav.sale .nav-link.active {
    color: #fff;
    background-color: #EC407A;
    border-color: #EC407A;
}

.p-20 {
    padding: 20px;
}

nav.sale {
    margin-bottom: 10px;
}

.bg-silver {
    background-color: #eeeded;
    margin-bottom: 20px;
}

.bg-purple {
    background-color: #947CB0;
}
.padding-bg-product{
    padding: 10px 20px 20px;
}
.product-title {
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 0;
    width: 100%;
    padding: 15px;
    font-weight: bold;
}
.underline-a{
    text-decoration: underline;
}
.card-product {
    margin-bottom: 6px;
}
.card-product h5{
    font-weight: bold !important;
    font-family: inherit;
}
.card-product h6 {
    font-size: 16px;

}

.btn-add {
    border-radius: 0;
    text-align: center;
    width: 100%;
    padding: 14px 0;
    color: #FFF;
    font-family: Cairo-SemiBold;
    font-size: 20px;
}

.page-title h3 {
    margin-bottom: 20px;
}

.customers .input-search {
    border-radius: 0;
    height: 45px;
}

.table td, .table th, .table thead th {
    border: 0;
}

.btn-add:hover {
    color: #FFF;
}

.form-add-customers .form-control {
    border-radius: 0;
}

#customers_table td, #customers_table th {
    padding: 7px;
}

#customers_table thead {
    background-color: #29B6F6 !important;
}

#customers_table thead tr, #customers_table thead tr th {
    background-color: #29B6F6 !important;
    color: #FFF;
}

#customers_table tr:nth-of-type(even) {
    background-color: #e1e1e1;
}

#customers_table tr:nth-of-type(odd) {
    background-color: #cccccc;
}

#customers_table_wrapper {
    margin-top: 30px;
    margin-bottom: 60px;
}

#customers_table .action-btn a {
    border-radius: 0;
    color: #FFF;
}

.w-120 {
    width: 130px;
}

.btn-mange .btn {
    color: #FFF;
    border-radius: 0;
    display: inline-block;
    width: 100%;
    padding: 22px 0;
    font-family: Cairo-SemiBold;
    font-size: 20px;
}

.capitalize {
    text-transform: capitalize;
}

.c-view {
    text-decoration: underline;
    color: #000;
}

input[type=checkbox] {
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}

.modal-footer2{
    padding: 1rem;
    border-top: 1px solid #e9ecef;
}
.modal-footer2 button{
    border-radius: 0;
    color: #FFF;
    text-align: center;
    margin-right: 10px;
    text-transform: uppercase;
    font-family: Cairo-SemiBold;
    font-size: 18px;
    padding: 14px 0;
    width: 150px;
}
textarea#notes{
    min-height: 120px;
}
.modal.show .modal-dialog .modal-body .form-control{
    height: 40px;
    border-radius: 0;
}
.modal.show .modal-dialog {
    -webkit-transform: translate(0,2%);
    transform: translate(0,2%);
}
.item-temp, .total-price{
    width: 100%;
}
.item-temp tr{
    background-color: #ffffff;
    color: #333232;
    height: 44px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}
.item-temp tr:last-child{
    border: 0;
}

.item-temp tr td.discount{
    color: red;
    font-size: 13px;
}
.item-temp i{
    color: red;
    font-size: 25px;
}
.item-temp span{
    font-size: 14px;
}

.hover-pointer{
    cursor: pointer;
}
.error-a{
    text-align: center;
    margin-bottom: 16px;
    color: red;
    display: none;
}
span.dis-modal{
    font-weight: normal;
    font-size: 15px;
    padding-left: 16px;
}
.btn-deposit{
    color: #FFF;
  border-radius: 0;
    width: 119px;
    height: 60px;
    font-family: Cairo-SemiBold;
    font-size: 20px;
}
.payment-hide{
    display: none;
    padding-bottom: 80px;
}
.payment-modal h5{

    padding: 5px 0 3px;
}
.payment-modal textarea{
    min-height: 100px !important;
}
#result {
    border: 1px solid #888;
    background: #f7f7f7;
    padding: 1em;
    margin-bottom: 1em;
}
.table-hovered tbody tr:hover{
    cursor: pointer;
}
.btn-cash{
    color: #FFF;
    border-radius: 0;
    font-family: Cairo-SemiBold;
    display: inline-block;
    padding: 14px 48px;
    margin-bottom: 12px;
}
.btn-cash:hover{
    color: #FFF;
}
.dt-button{
    border: 0;
    border-radius: 0;
    background-color: #29B6F6;
    color: #FFF;
    padding: 14px 42px;
    margin-right: 7px;
    font-family: Cairo-SemiBold;
    font-size: 20px;
    cursor: pointer;
}
.child-model label{
    margin-right: 18px;
    margin-left: 5px;
}
.datepicker td, .datepicker th {
    width: 47px;
    height: 25px;
}
.datepicker-search .dropdown-menu{
    min-width: 24rem;
}
.datepicker-search input{
    height: 55px;
    border-radius: 0;
}
.search-sale{
    padding: 11px 15px;
    border-radius: 0;
    font-size: 20px;
}
.card-report{
    padding: 20px;
    border: 1px solid #000;
}
.btn-report{
    width: 200px;
    margin: auto;
    display: block;
}
.report-table th, .report-table td{
    white-space: nowrap;
    text-align: center;
}
.canvasjs-chart-credit{
    display: none;
}

.report-table  td, .report-table  th {
    padding: 7px;
}

.report-table  thead {
    background-color: #29B6F6 !important;
}

.report-table  thead tr, .report-table  thead tr th {
    background-color: #29B6F6 !important;
    color: #FFF;
}

.report-table  tr:nth-of-type(even) {
    background-color: #e1e1e1;
}

.report-table tr:nth-of-type(odd) {
    background-color: #cccccc;
}

.report-table wrapper {
    margin-top: 30px;
    margin-bottom: 60px;
}

.report-table .action-btn a {
    border-radius: 0;
    color: #FFF;
}
.visit-t #customers_table_wrapper{
    margin-top: 2px;
}
.pagen-a ul.pagination{
    margin: 20px 0;
}
.pagen-a ul.pagination li{

}

.pagen-a ul.pagination li{

    color: #007bff;
    background-color: #fff;

}
.pagen-a ul.pagination li a, .pagen-a ul.pagination li.disabled, .pagen-a ul.pagination li.active{
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
}
.pagen-a ul.pagination li.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
html[dir="rtl"] svg + [aria-label] {

    left: auto !important;
}
.fc-unthemed td.fc-today{
    background: #e6e5e5;
}
.fc-title{
    font-size: 12px;
}
.fc-row .fc-content-skeleton tbody td, .fc-row .fc-helper-skeleton tbody td{
    padding-bottom: 5px;
}
.services .card:hover {
    height: 350px;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height0.5s ease-in-out;
}
.services .card:hover .card-block p {
    opacity: 1;
    -webkit-transition:1s ease-in-out;
    transition:1s ease-in-out;
}
.fc-basic-view .fc-body .fc-row {
     min-height: auto;
    height: 100px !important;
}
.fc-scroller{
    height: 599px !important;
    overflow-y: hidden !important;
}