@media(max-width: 768px){
    .logo img{
        margin-bottom: 20px;
        max-width: 80%;
    }
    .logo{
        text-align: center;
    }
    .tab-header{
        margin: 0 0 10px;
    }
    .username,.logout{
        display: block;
        text-align: center;
    }
    nav.sale .nav-link{
        width: 100%;
        margin-bottom: 10px;
    }
    .page-title h3{
        text-align: center;
    }
    .action-btn a{
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
    .visit_t{
        width: 100% !important;
    }
    .modal-footer2 button{
        margin-bottom: 10px;
    }
}